
body * {
  font-family : "Open Sans", sans-serif;
  line-height : 1.5;
  font-size   : 14px;
}

.menu {

}

.eizens {
  display    : flex;
  flex-wrap  : wrap;
  max-width  : 80vw;
  margin     : 0 auto;
  position   : relative;
  max-height : 100vh;
  &__block {
    width      : 45%;
    height     : 30vh;
    max-height : 30vh;
    padding    : 20px;
    border     : 1px solid black;
    overflow-y : auto;
  }
}
